/*HEADER*/
header {
    font-family: "poppins-medium";
    background: #151515;
}

/*NAV BAR*/
nav {
    position: fixed;
    width: 100%;
    background-color: #151515 !important;
    background-size: cover;
    z-index: 10;
  }



/* HERO SECTION*/

.jumbotron {
    background: #151515;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
    text-align: center;
}

.jumbotron .display-4 {
    color: #FFFFFF;
    font-family: "sans-serif";
    font-size: 135px;
    line-height: 1.071;
    max-width: 900px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.jumbotron .lead {
    color: #cc005f;
    font-family: "sans-serif";
    font-size: 40px;
    line-height: 1.565;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.jumbotron .About-Me-Position {
    font-family: "serif";
    font-size: 30px;
    line-height: 1.565;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.jumbotron .About-Me-Position span {
    display: inline-block;
}

.jumbotron .About-Me-Position span::after {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 8px 0 14px;
    color: rgba(255, 255, 255, 0.3);
}

.jumbotron .btn {
    background-color: #FF0077;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 15%;
    border-radius: 10px;
}

/* ABOUT SECTION*/
#About {
    background: #FFFFFF;
    padding-top: 12rem;
    padding-bottom: 15rem;
}

.section-intro {
    margin-bottom: 3rem;
}

.intro-info {
    margin: 120px;
}

.intro-info img {
    height: 150px;
    width: 250px;
    border-radius: 15%;
    margin: 15px 15px 30px 0;;
    float: left;
}

.intro-info p {
    text-align: center;
    padding-left: 13rem;
    font-size: 20px;
}

.section-intro h1 {
    color: #cc005f;
    font-family: "sans-serif";
    font-size: 40px;
    line-height: 1.565;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/*PROFILE*/

.about-content {
	position: relative;
	text-align: left;
	max-width: 850px;
	margin-bottom: 3.6rem;
}
.about-content h3 {
	font-family: "poppins-bold", sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: .25rem;
    margin-left: 70px;
    color: #cc005f;
    text-align: center;
}

.about-content .info-list {
	list-style: none;
	margin-left: 20px;
    text-align: center;
}

.about-content .info-list li {
	padding: 0 0 1.5rem 0;
	margin-bottom: .6rem;
}

.about-content .info-list li strong {
	font-family: "poppins-bold", sans-serif;
	color: #313131;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.about-content .info-list li span {
	display: block;
	font-family: "poppins-regular", sans-serif;
	color: #888888;
	font-size: 1.5rem;
	line-height: 1;
}

/*My Work*/

.subHeading {
    text-align: center;
    border-bottom: 20px;
    width: 300px;
    margin: 50px auto;
    color: #cc005f;
    font-size: 40px;
    padding-top: 100px;
}



.heading {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #cc005f;
}

/*RESPONSIVE*/
@media only screen and (max-width: 1024px) {
    #My-Work {
        margin-left: auto;
    }
}

@media only screen and (max-width: 600px) {
    #workGrid {
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "placeholder1"

            "placeholder2"

            "Horiseon"
    }
}

/* CONTACT ME*/

#Contact-Me {
    background: #FFFFFF;
    padding-top: 12rem;
    padding-bottom: 7.2rem;
}

legend {
    color: #cc005f;
    font-family: "sans-serif";
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #cc005f;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
    font-size: 20px;
    color: #cc005f;
    text-align: left;
}

input,
textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #cc005f;
    border-color: white;
    min-width: 300px;
}

/*FOOTER*/
footer {
    padding: 30px;
    clear: both;
    font-family: "sans-serif";
    text-align: center;
    color: #cc005f;
}